# Ignore all .dockerignore files
**/.dockerignore

# General ignores
**/.env
**/.git
**/.gitignore
**/.vs
**/.vscode
**/README.md

# Build artifacts
**/bin/
**/obj/

# Node specific
**/node_modules/
**/npm-debug.log